body{
    background: rgb(168,150,236);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(238,209,240), rgb(168,150,236));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(238,209,240), rgb(168,150,236)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}
.mainly{
    background: linear-gradient(141deg, rgba(215,208,249,0.5) 0%, rgba(234,213,229,0.5) 51%, rgba(215,208,249,0.5) 75%);
    margin:5%;
    padding:2%;
    border-radius:5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    height:80vh;
}
.element-div{
    border-left:3px solid deepskyblue;
    display: block;
    margin:10px;
    background-color:rgba(256,256,256,0.7);
    border-radius:10px;
    padding:0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    word-wrap: break-word;
}
.element-div:hover{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.01);
}
.center-side-div{
    border-right:3px solid rgba(256,256,256,0.8);
    position: relative;
}
.main-img{
    width:50px;
    height: 50px;
    border-radius:50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
}
.main-menu{
    margin-bottom:20px;
    background-color:rgba(256,256,256,0.7);
    padding:10px;
    border-radius:5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
}
.overflow-container{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    overflow-y: scroll;
    overflow-x: auto;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 20%;
    bottom: 5%;
    left: 0;
    overflow-y: scroll;
  }

  #right {
    position: absolute;
    top: 20%;
    bottom: 5%;
    right: 0;
    overflow-y: scroll;
  }
}
.wow{
    position: relative;
}
.main_row{
    padding:0;
    margin:0;
}
.doc-img{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    top:0;
}
.element-img-div{
    text-align: center;
}
.element-text-div{
    padding:10px;
}
.btn-private{
    border-radius:25px;
    border:2px solid black;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    background-color: transparent;
}
.menu-list-icon > li{
    margin:5px;
    list-style: none;
    font-size:13px;
    padding:5px;
}
.menu-list-icon > li > ul > li {
    list-style: none;
    margin:5px;
    padding:5px;
}
.menu-list-icon > li > ul > li > button >  i {
    padding: 5px;
}
.menu-list-icon > li > ul > li > button {
    background-color: transparent;
    border:none;
    border-right:3px solid transparent;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.menu-list-icon > li > ul > li > button:hover{
    border-right :3px solid mediumpurple;
    color:mediumpurple;
     -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.list-group{
    background-color:transparent !important;
    border : none !important;
}
.list-group-item{
    background-color:transparent !important;
    border : none !important;
}