{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alireza Heydari</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="https://bimebazar.ir/static/landing-page/dist/css/fontiran.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="mainly wow">
        <div class="col-md-12 main-menu">
            <img class="main-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
        </div>
                <div id="right" class="col-md-3">
                    <ul class="menu-list-icon list-group">
                        <li class="list-group-item">نوشته ها</li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item"><button><i class="fa fa-align-justify" aria-hidden="true"></i> روزنوشت </button></li>
                                <li class="list-group-item"><button><i class="fa fa-code" aria-hidden="true"></i> برنامه نویسی </button></li>
                            </ul>
                        </li>
                        <li class="list-group-item">لیست ها</li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                <li class="list-group-item"><button><i class="fa fa-film" aria-hidden="true"></i> فیلم ها </button></li>
                                <li class="list-group-item"><button><i class="fa fa-file-video-o" aria-hidden="true"></i> سریال ها </button></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        <div id="left" class="col-md-9 center-side-div">
                <div class="element-div">
                    <div class="row main_row">
                    <div class="element-img-div col-md-3">
                        <img class="doc-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
                    </div>
                    <div class="element-text-div col-md-9">
                        <button class="btn-private">Click</button>
                        نه این که تو نمیدونی ولی این درد بی رحمه . یه چیزایی رو تو دنیا فقط یک مرد میفهمه نه این که تو نمیدونی ولی من بی تو بی هیچم
                    </div>
                </div>
                    </div>
            <div class="element-div">
                    <div class="row main_row">
                    <div class="element-img-div col-md-3">
                        <img class="doc-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
                    </div>
                    <div class="element-text-div col-md-9">
                        نه این که تو نمیدونی ولی این درد بی رحمه . یه چیزایی رو تو دنیا فقط یک مرد میفهمه نه این که تو نمیدونی ولی من بی تو بی هیچم
                    </div>
                </div>
                    </div>
            <div class="element-div">
                    <div class="row main_row">
                    <div class="element-img-div col-md-3">
                        <img class="doc-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
                    </div>
                    <div class="element-text-div col-md-9">
                        نه این که تو نمیدونی ولی این درد بی رحمه . یه چیزایی رو تو دنیا فقط یک مرد میفهمه نه این که تو نمیدونی ولی من بی تو بی هیچم
                    </div>
                </div>
                    </div>
            <div class="element-div">
                    <div class="row main_row">
                    <div class="element-img-div col-md-3">
                        <img class="doc-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
                    </div>
                    <div class="element-text-div col-md-9">
                        نه این که تو نمیدونی ولی این درد بی رحمه . یه چیزایی رو تو دنیا فقط یک مرد میفهمه نه این که تو نمیدونی ولی من بی تو بی هیچم
                    </div>
                </div>
                    </div>
        </div>

</div>
</body>
</html>