{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alireza Heydari</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="https://bimebazar.ir/static/landing-page/dist/css/fontiran.css">
</head>
<body>
<div class="mainly wow">
        <div class="col-md-12 main-menu">
            <img class="main-img" src="https://cdn.dribbble.com/users/60166/screenshots/3497529/pegasus.jpg" alt="unicorn">
        </div>
                <div id="right" class="col-md-4">
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم
                سلام به همگی دوستانی که لطف کردن و در مراسم ختم بنده شرکت کردند . ایشاالله در شادی هاشون جبران کنیم </div>
        <div id="left" class="col-md-8 center-side-div">
            <div class="overflow-container hello" style="overflow: scroll;">
                <div class="element-div">adsfdsasakldfjadskf;asdjflkasjdf;kajsdf;lasdjfl;kasdjfsakdjfsajdkkfjsadkfjadsjfksajdfkasjdfkasdjfakls;jflaksdjfasl;dkjflsakdfjkasjdfas;ldkjfalksjfl;ksadjflaksjdl;fksadjf</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
                <div class="element-div">و</div>
            </div>
        </div>

</div>
</body>
</html>